<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Insert title here</title>
<!-- 
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
    href="https://code.highcharts.com/css/highcharts.css" />
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
 -->

 
</head>
<body>
	<h1>Welcome to Highchartsx</h1>
	
	<div id="container"  style="height: 400px; width:700px">
	
	</div>
	<button id="pdf">
		<i class="fa fa-download"></i> Download PDF
	</button>
	
	 <script src="js/jquery.js"></script>
	 <script src="js/highcharts.js"></script>
	 <script src="js/index.js"></script>

	 <script src="js/exporting.js"></script> 
	 <script src="js/highcharts-gantt.js"></script>
	 
</body>
</html>